.example-card {
  max-width: 500px;
  margin   : 10px;
}

.example-header-image {
  background-size: cover;
}

.example-form-field {
  width : 300px;
  margin: 10px;
}

.top {
  display: flex;
}

.search {
  margin-top: 30px;
  margin-right: 230px;
}

.catalog-title {
  color: #fff;
  align-items: center;
  margin-top: 50px;
  justify-content: center;
}

